.banner__name {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;

  flex: 1 0 50%;

  background-color: #2e393f;
  font-size: 45px;
  font-weight: bold;
  color: #ffffff;
}
