.card__text-link {
  margin-left: 10px;
  padding-right: 15px;
  position: relative;
  color: #888888;

  &::after{
    content: "";
    display: block;
    position: absolute;
    bottom: 3px;
    right: 0;
    width: 12px;
    height: 12px;
    color: #888;
    background: url("../img/icons/arrow-right-circle-outline.svg");
  }

  &:hover{
    border-bottom: 1px solid #888888;
  }
}
